PyMySQL
beautifulsoup4
defusedxml
Jinja2
lxml
opencv-python
openpyxl
pygame
SQLAlchemy
tornado
xlrd
django
django-redis
django-ckeditor
django-cors-headers
django-import-export
django-js-asset
django-mdeditor
django-rest-framework
django-simpleui
djangorestframework
simplepro
rich